.card {
  width: 150px;
  height: 250px;
  flex: initial;
  font-size: 80px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  border-radius: 4px;
  margin: 10px;
  user-select: none;
  cursor: pointer;
  transition: transform .5s;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px, rgba(0, 0, 0, 0.23) 0 3px 10px;
}

.facedown {
  background-color: yellowgreen;
  transform: rotateY(180deg);
}

.small {
  font-size: 15px;
  height: 150px;
  width: 75px;
}

.medium {
  font-size: 20px;
  height: 200px;
  width: 100px;
}

.large {
  font-size: 25px;
  height: 300px;
  width: 150px;
}
