$font: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

.options {
  min-width: 600px;
  min-height: 800px;
  font-family: $font;
  height: 100vh;
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeOut 500ms;
  -moz-animation: fadeOut 500ms;
  animation: fadeOut 500ms;
}

.choices {
  display: flex;
}

.choice {
  display: flex;
  margin: 25px;
  flex-direction: column;
  cursor: pointer;
}

.radio {
  margin-bottom: 5px;

  span {
    margin-left: 10px;
  }
}

.description {
  color: rgba(0, 0, 0, 0.75);
}

.actions {
  display: flex;
  margin: 10px 0 60px;

  a {
    background-color: #333;
    color: white;
    font-size: 35px;
    text-decoration: none;
    -webkit-box-ordinal-group: 3;
    padding: 10px 20px;
    text-transform: uppercase;
    margin-right: 20px;
    height: 35px;
  }
}

.previousGames {
  color: rgba(0, 0, 0, 0.75);
  width: calc(100% - 50px);
  max-width: 710px;

  table {
    width: 100%;
    text-align: left;

    th {
      color: rgba(0, 0, 0, 0.7);
    }

    th,
    td {
      padding: 10px;
    }
  }

  thead > tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 16px;
    text-transform: uppercase;
  }

  tbody {
    max-height: 200px;
  }
}
