.options {
  height: 100vh;
  background-color: yellowgreen;
  display: flex;
  align-items: center;
  justify-content: center;

  a{
    background-color: #333333;
    color: white;
    font-size: 40px;
    text-indent: 50px;
    text-decoration: none;
    width:200px;
    height: 40px;
    padding: 5px;
    text-transform: uppercase;
  }
}
